.header_logo{
    width: 100px;
    height: 60px;
}
.company-signin{
    margin-bottom: 80px;
}
.sign-form{
    max-width: 425px;
    height: auto;
    border: black;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    padding: 45px 0 20px 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-item{
    width: 300px;
    height: 46px;
    border: 1px solid #938a8a;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sign-item:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #25243a;
}

.sign-item input{
    width: 215px;
    height: 35px;
    border: none;
    padding-top: 6px;
}

.sign-item label{
    position: absolute;
    margin: -13px;
    background-color: white;
    padding: 3px;
    font-size: 12px;
}
/*.sign-item label:hover{*/
/*    font-size: 15px;*/
/*}*/
.sign-button input{
    width: 300px;
    background: #25243a;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    height: 30px;
}
.sign-item input:focus {
    outline: none;
}
.sign-form p{
    color: #938a8a;
}
.sign-desc{
    font-size: larger;
    color: #25243a!important;
    font-weight: bold;
    padding-bottom: 10px;
}
.register-form{
    max-width: 644px;
    height: auto;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row{
    width: 500px;
    text-align: center;
    margin: auto!important;
    padding: 10px;
}
.reg-desc{
    font-weight: bold;
    color: #444087 !important;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.reg-btn{
    background: #25243a!important;
    color: white!important;
}
.reg-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
hr{
    margin:0!important;
    background-color:#25243a!important;
}
.auth-header li{
    float: right;
}
#mynavbar ul li{
    padding: 0 10px;
}
li .nav-link {
    color: white!important;
    text-transform: uppercase;
}
li .nav-link:hover{
    text-decoration: underline #B0DBDBFF;
}
.logout{
    color: white!important;
    text-decoration: none;
}
.logout:hover{
    text-decoration: underline;
}
.fa-power-off{
    color: #8D8DEFFF;
}
.nav{
    padding: 0;
}
.profile-card{
    max-width: 800px;
    height: 70%;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar{
    margin: auto;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    top: 32px;
}
.avatar img{
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 75px;
}.profile-field{
    width: 100%;
    height: auto;
    border-top: 2px solid #aba3a3;
    padding: 40px 0;

 }
 .item{
     display: inline;
     margin-left: 9px;
     padding-bottom: 20px;
 }
 .item input{
     width: 48%;
     display: inline;
     margin: auto;
 }
 .profile-row{
     margin:10px 10px;
 }
 .update-btn{
     text-align: center;
     padding-top: 20px;
 }
 .update-btn input{
     background: #4386bb;
     border: none;
     color: white;
     width: 95px;
     height: 35px;
     border-radius: 4px;
     font-size: 12px;
     font-weight: bold;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .update-btn input:hover{
     background-color: #1b649f;
 }
 .file-upload{
     position: relative;
     bottom: 65px;
     left: 27px;
     display: none;
 }
 .remove-file{
     position: relative;
     bottom: -30px;
     left: 47px;
     display: none;
 }

.avatar:hover .file-upload{
    display: inline;
    opacity: 1;
}
.avatar:hover .remove-file{
    display: block;
    opacity: 1;
    cursor: pointer;
}
.camera {
    display: none;
}
.avatar:hover .camera{
    position: relative;
    bottom: 60px;
    display: block;
    font-size: 40px;
    opacity: 0.8;
}
.users-list{
    max-width: 80%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 40px;
    text-align: center;
}
.u-email{
    text-align: center;
}
table{
    border: 1px solid #dbd6d6!important;
}
table tr> th{
    border: 1px solid #dbd6d6;!important;
}
table tr td{
    text-align: left;
    border: 1px solid #dbd6d6;!important;
}
#mynavbar ul ul{
    background-color: #212529;
    position: absolute;
    list-style: none;
    display: none;
}
#mynavbar ul li:hover > ul{
    display: block;
}
#mynavbar ul li:hover > ul li {
    position: relative;
    right: 38px;
    text-align: left;
    line-height: 2;
    padding-bottom: 1px;
    text-transform: uppercase;
}
#mynavbar ul li:hover > ul li a{
    color: inherit;
    text-decoration: none;
}
#mynavbar ul li> ul li a:hover{
    text-decoration: underline #B0DBDBFF;
}
.import-section{
    max-width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 130px;
    /*border: 1px solid red;*/
}
.import-section h4{
    padding: 15px 0;
    color: #0f57c3;
    text-decoration: underline;
}
.import-form{
    max-width: 80%;
    height: 100px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.form-group{
    width: 540px;
    height: auto;
    border-radius: 3px;
    padding: 12px 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.form-group input{
    cursor: pointer;
    margin: 50px 0;
}
.form-group #upload-btn{
    width: 20%;
    background-color: #1b649f;
    color: white;
    border: none;
    height: 35px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-group #upload-btn:hover {
    background-color: #134b78;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.record-info{
    display: block;
    max-width: 80%;
    margin:auto;
    margin-top: 20px;
    /*border: 1px solid #cbddcb;*/
}
.total-users-info{
    font-size: 20px;
    color:#0f57c3;
    font-weight: bold;
}
.manual-add{
    max-width: 80%;
    height: auto;
    margin: auto;
    margin: 100px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
.manual-add-form{
    margin: 10px 0;

}
.manual-add-form div{
    display: inline-block;
}
.manual-add-form input{
    border-radius: 3px;
    border: 1px solid #225487;
    margin: 0px 5px;
}
.form-item{
    width: 18%;
}
.submit-btn{
    padding: 45px 0;
}
.submit-btn div{
    display: inline;
    cursor: pointer;
}
.form-btn{
    width: 10%;
    text-align: center;
    margin: 10px 0;
}
.form-btn input:hover{
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color:#2656dd;
}
.error-text{
    color: red;
    font-size: 10px;
}
.fa-plus{
    color: #0b297c;
    font-size: 21px;
    border: 1px solid #0b297c;
    border-radius: 22px;
    width: 25px;
}
.fa-plus:hover{
    color: #2656dd;
    border: 1px solid #2656dd;

}
.submit-btn input{
    width: 102px;
    height: 29px;
    background-color: #0b297c;
    border: none;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
}

.manual-add-desc{
    color: #2656dd;
    padding: 20px 0;
}
.manual-add-desc h5 {
    color: black;
}
